.blog {
  margin: $margin-auto;
  margin-bottom: 142px;
  width: 245px;
  overflow: hidden;
}

.blog__headline {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0 15px;
  font-size: 24px;
  color: #91171d;
  text-align: center;
}

.blog__container {
  margin-bottom: 29px;
  padding-left: 1px;
  display: flex;
  transform: translateX(0px);
}

.blog__article:not(:last-child) {
  margin-right: 38px;
}

.blog__article-hashtag {
  margin-bottom: 12px;
  display: inline-block;
  font-size: 15.5px;
  font-weight: 300;
  line-height: 15px;
}

.blog__article-img-container {
  margin-bottom: 6px;
  height: 371px;
}

.blog__article-info-container {
  padding-left: 2px;
  text-align: center;
}

.blog__article-info-headline {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.blog__article-info-text {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.7px;
}

.blog__slider-container {
  margin: $margin-auto;
  margin-bottom: 21px;
  padding-bottom: 20px;
  width: 208px;
}

.blog__slider-counter {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 400;
}

.blog__slider-counter--margin {
  margin-left: 7px;
}

.blog__slider-counter sub {
  font-size: 16px;
  line-height: 16px;
}

.blog__slider-line {
  position: relative;
  width: 208px;
  height: 1px;
  background-color: $main-color;
}

.blog__slider-pin {
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 78px;
  height: 3px;
  background-color: $main-color;
  cursor: pointer;
}

.blog__blog-link {
  margin: $margin-auto;
  padding-bottom: 5px;
  width: 90px;
  display: block;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #79100b;
  text-decoration: none;
  border-bottom: 1px solid #79100b;
}

.blog__blog-link:hover {
  opacity: 0.6;
}

.blog__blog-link:active {
  border-bottom-color: transparent;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .blog {
    position: relative;
    margin-bottom: 105px;
    width: 710px;
  }

  .blog__headline {
    margin: $margin-auto;
    margin-bottom: 46px;
    padding: 0 25px 0 15px;
    width: 141px;
    font-size: 48px;
    line-height: 48px;
    word-wrap: break-word;
  }

  .blog__container {
    margin-bottom: 69px;
  }

  .blog__article:not(:last-child) {
    margin-right: 19px;
  }

  .blog__article-hashtag {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.8px;
  }

  .blog__article-img-container {
    margin-bottom: 7px;
    height: 541px;
  }

  .blog__article-info-headline {
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 24px;
  }

  .blog__article-info-text {
    letter-spacing: 0.9px;
  }

  .blog__slider-container {
    position: absolute;
    top: 4px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .blog {
    margin-bottom: 111px;
    width: $desktop-width;
  }

  .blog__headline {
    margin-bottom: 117px;
    padding-right: 12px;
    width: 141px;
  }

  .blog__container {
    margin-bottom: 109px;
    transform: translateX(-166px);
  }

  .blog__article:not(:last-child) {
    margin-right: 29px;
  }

  .blog__article--3 {
    order: -1;
  }

  .blog__article-img-container {
    margin-bottom: 15px;
    height: 618px;
  }

  .blog__article-info-container {
    padding-left: 0;
    text-align: left;
  }

  .blog__article-info-headline {
    margin-bottom: 13px;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
  }

  .blog__slider-container {
    position: absolute;
    top: -1px;
    right: 2px;
  }

  .blog__slider-container,
  .blog__slider-line {
    width: 351px;
  }

  .blog__slider-counter {
    font-size: 30px;
    line-height: 30px;
  }

  .blog__slider-counter sub {
    font-size: 18px;
    line-height: 18px;
  }

  .blog__slider-pin {
    left: 51px;
    width: 92px;
  }

  .blog__blog-link {
    margin-left: 647px;
    width: 115px;
    font-size: 18px;
    line-height: 18px;
  }
}
