.burger-menu {
  display: inline-block;
  grid-row: 1;
  grid-column: 1;
}

.burger-menu__link {
  display: flex;
}

.burger-menu__link:hover {
  opacity: 0.4;
}

.burger-menu__link:active {
  opacity: 0.1;
}

.burger-menu__sellout-18 {
  display: none;
}

@supports (grid-area: b) {
  .burger-menu {
    grid-area: b;
  }
}

@media (min-width: $tablet-width) {
  .burger-menu {
    position: relative;
    padding-top: 40px;
    grid-row: 1 / 4;
    background-color: #ece5e1;
  }

  .burger-menu__link {
    justify-content: center;
  }

  .burger-menu__sellout-18 {
    position: absolute;
    bottom: 211px;
    right: -30px;
    margin: 0;
    width: 115px;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 1px;
    transform: rotate(-90deg);
  }

  .burger-menu__sellout-18::before {
    position: absolute;
    content: "";
    top: 13px;
    right: 145px;
    width: 94px;
    height: 2px;
    background-color: #342b2b;
  }
}

@media (min-width: $desktop-width) {
  .burger-menu {
    margin-bottom: 79px;
  }

  .burger-menu__sellout-18 {
    right: -33px;
    bottom: 219px;
    width: 149px;
    font-size: 18px;
    letter-spacing: 0.6px;
  }

  .burger-menu__sellout-18::before {
    top: 15px;
    right: 178px;
  }
}
