.navigation-anchors {
  display: none;
}

@media (min-width: $desktop-width) {
  .navigation-anchors {
    position: absolute;
    display: block;
  }

  .navigation-anchors--1 {
    top: 260px;
    right: 102px;
  }

  .navigation-anchors--2 {
    top: 246px;
    right: -77px;
  }

  .navigation-anchors--3 {
    top: 478px;
    right: -141px;
  }

  .navigation-anchors__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .navigation-anchors__item {
    text-align: center;
  }

  .navigation-anchors__item-link {
    margin-bottom: 32px;
    display: inline-block;
    font-family: $open-sans;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: $main-color;
    text-decoration: none;
  }

  .navigation-anchors__item-link--active {
    position: relative;
    margin-bottom: 130px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: #91171d;
  }

  .navigation-anchors__item-link--active::after {
    position: absolute;
    content: "";
    top: 36px;
    left: 9px;
    width: 1px;
    height: 94px;
    background-color: $main-color;
  }

  .navigation-anchors__item-link:hover:not(.navigation-anchors__item-link--active) {
    font-weight: 600;
    color: #000000;
  }

  .navigation-anchors__item-link:active:not(.navigation-anchors__item-link--active) {
    opacity: 0.4;
  }
}
