.navigation-and-logo {
  margin-left: 151px;
  display: inline-block;
  grid-column: 2 / 3;
  grid-row: 1;
}

.navigation-and-logo__logo {
  display: none;
}

.navigation-and-logo__navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105px;
  list-style-type: none;
}

.navigation-and-logo__navigation-link {
  display: block;
}

.navigation-and-logo__navigation-svg-icon {
  width: 16px;
  height: 16px;
}

@supports (grid-area: n) {
  .navigation-and-logo {
    grid-area: n;
  }
}

@media (min-width: $tablet-width) {
  .navigation-and-logo {
    margin-right: 61px;
    margin-left: 74px;
    padding-top: 33px;
    width: 578px;
    grid-column: 2 / 4;
    display: flex;
    justify-content: space-between;
  }

  .navigation-and-logo__logo {
    width: 126px;
    height: 28px;
    display: flex;
  }

  .navigation-and-logo__navigation {
    margin-top: 10px;
  }

  .navigation-and-logo__navigation-list {
    width: 222px;
  }
}

@media (min-width: $desktop-width) {
  .navigation-and-logo {
    margin-left: 126px;
    width: 1180px;
    justify-content: space-between;
  }

  .navigation-and-logo__logo {
    margin-left: 78px;
    width: 156px;
    height: 34px;
  }

  .navigation-and-logo__navigation {
    margin-right: 159px;
    margin-top: 2px;
  }

  .navigation-and-logo__navigation-list {
    width: 293px;
  }

  .navigation-and-logo__navigation-item:first-child {
    margin-right: 23px;
  }

  .navigation-and-logo__navigation-svg-icon {
    width: 17px;
    height: 20px;
  }
}
