.new-collection {
  margin-top: 17px;
  grid-area: c;
  display: grid;
}

.new-collection__catalog {
  width: 131px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: start;
  align-self: center;
  z-index: 1;
}

.new-collection__catalog-headline {
  margin: 0;
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.new-collection__catalog-link {
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 14px;
  color: #79100b;
  border-bottom: 1px solid #79100b;
  text-decoration: none;
}

.new-collection__catalog-social-list {
  display: none;
}

.new-collection__product-container {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-self: end;
}

.new-collection__product-description {
  display: none;
}

.new-collection__product-switch {
  display: none;
}

@media (min-width: $tablet-width) {
  .new-collection {
    margin-top: 24px;
  }

  .new-collection__catalog {
    margin-left: 30px;
    width: 338px;
    align-self: end;
  }

  .new-collection__catalog-headline {
    margin-bottom: 33px;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
  }

  .new-collection__catalog-link {
    margin-bottom: 237px;
    display: inline-block;
    width: 135px;
    font-size: 16px;
    line-height: 16px;
  }

  .new-collection__catalog-social-list {
    margin: 0;
    margin-bottom: 34px;
    padding: 0;
    width: 238px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .new-collection__catalog-social-item:nth-child(3n + 2) {
    width: 78px;
    padding: 0 20px;
    text-align: center;
  }

  .new-collection__catalog-social-link {
    color: $main-color;
    text-decoration: none;
  }

  .new-collection__product-container {
    margin-right: 59px;
  }

  .new-collection__product-1 {
    position: relative;
    margin-bottom: 12px;
  }

  .new-collection__product-description {
    position: absolute;
    bottom: 54px;
    right: 0;
    padding: 20px 33px 27px 33px;
    width: 278px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(236, 229, 225, 0.8);
  }

  .new-collection__product-name {
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #91161d;
  }

  .new-collection__product-value {
    position: relative;
    margin: 0;
    margin-right: 8px;
    align-self: flex-end;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: #91161d;
  }

  .new-collection__product-value::before {
    position: absolute;
    content: "";
    top: 10px;
    right: 102px;
    width: 72px;
    height: 2px;
    background-color: #952226;
  }

  .new-collection__product-switch {
    margin-left: auto;
    width: 216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .new-collection__product-switch-container {
    width: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #952126;
  }

  .new-collection__product-switch-arrow {
    display: flex;
  }

  .new-collection__product-switch-arrow--right {
    transform: rotate(180deg);
  }

  .new-collection__product-switch-arrow-svg {
    width: 8px;
    height: 13px;
  }

  .new-collection__product-count {
    margin: 0;
  }

  .new-collection__product-total {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: #0b0b0b;
  }

  .new-collection__see-all-link {
    font-size: 17.8px;
    font-weight: 300;
    line-height: 16px;
    color: $main-color;
    border-bottom: 1px solid #342b2b;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .new-collection {
    margin-top: 12px;
  }

  .new-collection__catalog {
    margin-left: 55px;
    margin-bottom: 51px;
    width: 450px;
  }

  .new-collection__catalog-headline {
    position: relative;
    margin-bottom: 33px;
    font-size: 48px;
    line-height: 59px;
  }

  .new-collection__catalog-headline::after {
    position: absolute;
    content: "19";
    bottom: -27px;
    right: -16px;
    width: 127px;
    height: 190px;
    font-size: 177px;
    font-weight: 500;
    line-height: 177px;
    color: rgba(236, 229, 225, 0.3);
  }

  .new-collection__catalog-link {
    margin-bottom: 252px;
    width: 138px;
    font-size: 18px;
    line-height: 18px;
  }

  .new-collection__catalog-social-list {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 305px;
  }

  .new-collection__catalog-social-item:first-child {
    margin-left: 8px;
  }

  .new-collection__catalog-social-item:nth-child(3n + 2) {
    padding: 0 33px;
  }

  .new-collection__catalog-social-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
  }

  .new-collection__product-container {
    margin-right: 222px;
  }

  .new-collection__product-1 {
    margin-bottom: 2px;
  }

  .new-collection__product-description {
    bottom: 83px;
    right: 120px;
    width: 300px;
    padding: 24px 33px 29px 33px;
  }

  .new-collection__product-name {
    margin-bottom: 9px;
  }

  .new-collection__product-value {
    margin-right: 10px;
    font-size: 18px;
    line-height: 18px;
  }

  .new-collection__product-value::before {
    top: 12px;
    right: 112px;
  }

  .new-collection__product-switch {
    width: 364px;
  }

  .new-collection__product-switch-container {
    margin-top: 10px;
    width: 123px;
  }

  .new-collection__product-switch-arrow-svg {
    width: auto;
    height: auto;
  }

  .new-collection__product-count {
    font-size: 36px;
    line-height: 28px;
  }

  .new-collection__product-total {
    font-size: 24px;
    line-height: 24px;
  }

  .new-collection__see-all {
    margin-bottom: 9px;
  }

  .new-collection__see-all-link {
    letter-spacing: 1px;
  }

}
