.new-product {
  margin: $margin-auto;
  margin-bottom: 60px;
  width: $mobile-container-width;
}

.new-product__headline {
  margin: $margin-auto;
  margin-bottom: 30px;
  width: 245px;
  font-size: 24px;
  color: #91171d;
  text-align: center;
  word-spacing: 5px;
  word-wrap: break-word;
}

.new-product__list {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  width: 245px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.new-product__item-link {
  color: $main-color;
  text-decoration: none;
}

.new-product__item-link--active {
  border-bottom: 1px solid #000000;
}

.new-product__item-link:active {
  opacity: 0.2;
}

.new-product__item-link:not(.new-product__item-link--active):hover {
  border-bottom: 1px solid #000000;
}

.new-product__item-link--active:hover {
  opacity: 0.6;
}

.new-product__product-container {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-product__product-switch-link {
  margin-bottom: 53px;
  align-self: center;
  display: flex;
}

.new-product__product-switch--right {
  transform: rotate(180deg);
}

.new-product__product-switch-link:hover {
  opacity: 0.6;
}

.new-product__product-switch-link:active {
  opacity: 0.2;
}

.new-product__product-preview {
  display: none;
}

.new-product__product-preview--active{
  display: block;
}

.new-product__product-img-container {
  position: relative;
  margin-bottom: 6px;
}

.new-product__product-like {
  position: absolute;
  top: 10px;
  right: 10px;
}

.new-product__product-svg-like {
  width: 19px;
  height: 17px;
}

.new-product__product-like:hover .new-product__product-svg-like {
  stroke: red;
  fill: red;
}

.new-product__product-like:active .new-product__product-svg-like {
  opacity: 0.4;
}

.new-product__product-switch-preview {
  position: absolute;
  width: 37px;
  display: flex;
  justify-content: space-between;
  left: 10px;
  bottom: 13px;
}

.new-product__product-switch-preview::before {
  position: absolute;
  content: "";
  top: 1px;
  left: 17px;
  width: 1px;
  height: 18px;
  background: #5d5551;
}

.new-product__product-switch-link-img {
  display: block;
}

.new-product__product-img-switch--right {
  transform: rotate(180deg);
}

.new-product__product-switch-link-img:hover {
  opacity: 0.6;
}

.new-product__product-switch-link-img:active {
  opacity: 0.2;
}

.new-product__product-description-name,
.new-product__product-description-price {
  margin: $margin-auto;
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
}

.new-product__product-description-name {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 18px;
}

.new-product__product-description-name--desktop-display {
  display: none;
}

.new-product__product-description-price {
  position: relative;
  margin-right: 72px;
  width: 76px;
  line-height: 14px;
}

.new-product__product-description-price::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 83px;
  width: 30px;
  height: 1px;
  background-color: $main-color;
}

.new-product__see-all-link {
  margin: $margin-auto;
  padding: 0 10px;
  padding-bottom: 5px;
  width: 90px;
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: $main-color;
  text-align: center;
}

.new-product__see-all-link:hover {
  text-decoration: none;
}

.new-product__see-all-link:active {
  text-shadow: 0 0 10px #000000;
  opacity: 0.4;
}

@media (min-width: $tablet-width) {
  .new-product {
    margin-bottom: 91px;
    width: $tablet-container-width;
  }

  .new-product__headline {
    margin-bottom: 19px;
    width: 308px;
    font-size: 36px;
    line-height: 36px;
    word-spacing: 8px;
  }

  .new-product__list {
    margin-bottom: 36px;
    width: 291px;
  }

  .new-product__item-link {
    font-size: 16px;
  }

  .new-product__product-container {
    margin-bottom: 48px;
    justify-content: center;
  }

  .new-product__product-switch-link {
    display: none;
  }

  .new-product__product-img-container {
    margin-bottom: 0;
  }

  .new-product__product-svg-like {
    width: 20px;
    height: 17px;
  }

  .new-product__product-svg-like--fill {
    fill: #bab8b7;
  }

  .new-product__product-switch-preview {
    width: 38px;
    left: 9px;
    bottom: 12px;
  }

  .new-product__product-preview--active {
    display: none;
  }

  .new-product__product-preview {
    margin-bottom: 20px;
    display: block;
  }

  .new-product__product-preview:nth-of-type(3n+2) {
    padding-right: 19px;
    padding-left: 20px;
  }

  .new-product__product-description-name {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 24px;
  }

  .new-product__product-description-price {
    margin-right: 0;
    width: 87px;
    font-size: 16px;
    line-height: 16px;
  }

  .new-product__product-description-price--margin-1 {
    margin-right: 42px;
  }

  .new-product__product-description-price--margin-2,
  .new-product__product-description-price--margin-3 {
    margin-right: 36px;
  }

  .new-product__product-description-price::before {
    top: 66%;
    width: 50px;
  }

  .new-product__product-description-price--margin-1::before {
    right: 95px;
  }

  .new-product__product-description-price--margin-2::before,
  .new-product__product-description-price--margin-3::before {
    right: 106px;
  }

  .new-product__see-all-link {
    margin-right: 43%;
  }
}

@media (min-width: $desktop-width) {
  .new-product {
    position: relative;
    margin-bottom: 160px;
    width: $desktop-container-width;
  }

  .new-product__headline {
    margin-bottom: 24px;
    padding-left: 33px;
    width: 408px;
    font-size: 48px;
    line-height: 48px;
    word-spacing: 11px;
  }

  .new-product__list {
    margin-bottom: 58px;
    padding-left: 35px;
    width: 352px;
  }

  .new-product__item-link {
    font-size: 18px;
    line-height: 18px;
  }

  .new-product__product-container {
    margin: $margin-auto;
    margin-bottom: 50px;
    width: 1108px;
  }

  .new-product__product-img-container {
    margin-bottom: 14px;
  }

  .new-product__product-like {
    top: 20px;
    right: 19px;
  }

  .new-product__product-svg-like {
    width: 26px;
    height: 23px;
  }

  .new-product__product-switch-preview {
    width: 37px;
    left: 30px;
    bottom: 23px;
  }

  .new-product__product-switch-preview--position {
    left: 21px;
    bottom: 23px;
  }

  .new-product__product-preview:nth-of-type(3n+2) {
    padding: 0 29px;
  }

  .new-product__product-description-name {
    font-size: 30px;
    line-height: 30px;
  }

  .new-product__product-description-name--desktop-display {
    display: inline;
  }

  .new-product__product-description-price {
    width: 108px;
    font-size: 20px;
    line-height: 20px;
  }

  .new-product__product-description-price--margin-1 {
    margin-right: 16px;
    text-align: right;
  }

  .new-product__product-description-price--margin-2 {
    margin-right: 74px;
  }

  .new-product__product-description-price--margin-3 {
    margin-right: 62px;
  }

  .new-product__product-description-price::before {
    top: 56%;
    width: 72px;
    height: 2px;
  }

  .new-product__product-description-price--margin-1::before {
    right: 126px;
  }

  .new-product__product-description-price--margin-2::before {
    right: 125px;
  }

  .new-product__product-description-price--margin-3::before {
    right: 125px;
  }

  .new-product__see-all-link {
    margin-right: 44.3%;
    width: 114px;
    font-size: 20px;
    line-height: 20px;
  }
}
