.project-header {
  position: relative;
  margin-bottom: 71px;
  padding: 9px 15px 43px 14px;
  display: grid;
  grid-template-areas:
    "b n"
    "c c";
  width: $mobile-width;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.project-header--product1 {
  background-image: url("../img/project-headerBG-mobile.jpg");
}

.project-header--product2 {
  background-image: url("../img/project-headerBG-mobile2.jpg");
}

.project-header--product3 {
  background-image: url("../img/project-headerBG-mobile3.jpg");
}

@media (min-width: $tablet-width) {
  .project-header {
    margin-bottom: 97px;
    padding: 0;
    grid-template-areas:
      "b n n"
      "b c c"
      "b c c";
    grid-template-columns: 51px auto auto;
    grid-template-rows: auto 407px 350px;
    width: $tablet-width;
    background-position: right bottom;
  }

  .project-header--product1 {
    background-image: url("../img/project-headerBG-tablet.jpg");
  }

  .project-header--product2 {
    background-image: url("../img/project-headerBG-tablet2.jpg");
  }

  .project-header--product3 {
    background-image: url("../img/project-headerBG-tablet3.jpg");
  }
}

@media (min-width: $desktop-width) {
  .project-header {
    position: relative;
    margin-bottom: 162px;
    grid-template-columns: 77px auto auto;
    grid-template-rows: auto 407px 364px;
    width: 100%;
    max-width: $desktop-width;
  }

  .project-header--product1 {
    background-image: url("../img/project-headerBG-desktop.jpg");
  }

  .project-header--product2 {
    background-image: url("../img/project-headerBG-desktop2.jpg");
  }

  .project-header--product3 {
    background-image: url("../img/project-headerBG-desktop3.jpg");
    background-position: right top;
  }
}
