$mobile-width: 320px;
$mobile-container-width: 290px;
$tablet-width: 764px;
$tablet-container-width: 724px;
$desktop-width: 1444px;
$desktop-container-width: 1180px;
$margin-auto: 0 auto;
$main-color: #342b2b;
$white-color: #ffffff;
$black-color: #000000;
$open-sans: "OpenSans";
